<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile=".\logs\driver-internal.log"
      internalLogLevel="Info" >

    <!-- the targets to write to -->
    <targets>
        <!-- write logs to file -->
        <target xsi:type="File" name="fileTarget"
                layout="${date}|${level:uppercase=true}|${message} ${exception:format=tostring}|${logger}|${all-event-properties}"
                fileName=".\logs\driver.${shortdate}.log"
                maxArchiveFiles="14"
                archiveAboveSize="10000000" />
        <target xsi:type="Console" name="consoleTarget"
                layout="${date}|${level:uppercase=true}|${message} ${exception:format=tostring}|${logger}|${all-event-properties}" />
        <target name="throttle_log4j" type="AsyncWrapper" timeToSleepBetweenBatches="100" batchSize="1" overflowAction="Block">
            <target name="log4j" type="Chainsaw" address="udp://127.0.0.1:4445" newline="true" />
        </target>
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <logger name="l99.driver.base.*" minlevel="INFO" writeTo="fileTarget,consoleTarget" />
        <logger name="l99.driver.fanuc.Platform" minlevel="INFO" writeTo="fileTarget,consoleTarget" />
        <logger name="l99.driver.fanuc.utils.*" minlevel="INFO" writeTo="fileTarget,consoleTarget" />
        <logger name="l99.driver.fanuc.collectors.*" minlevel="INFO" writeTo="fileTarget,consoleTarget" />
        <logger name="l99.driver.fanuc.veneers.*" minlevel="INFO" writeTo="fileTarget,consoleTarget" />
        <logger name="l99.driver.fanuc.strategies.*" minlevel="INFO" writeTo="fileTarget,consoleTarget" />
        <logger name="l99.driver.fanuc.handlers.*" minlevel="INFO" writeTo="fileTarget,consoleTarget" />
        <logger name="l99.driver.fanuc.transports.*" minlevel="INFO" writeTo="fileTarget,consoleTarget" />
        <logger name="l99.driver.fanuc.*" minlevel="INFO" writeTo="fileTarget,consoleTarget" />
        <!--<logger name="*" minlevel="DEBUG" writeTo="fileTarget,consoleTarget" />-->
        <!-- to send logs to a remote computer, 
                uncomment below line, 
                change 'throttle_log4j' target IP address to computer receiving logs
                install https://github.com/ihtfw/Logazmic or https://logging.apache.org/chainsaw/2.x/
                and setup UDP/4445 listener on receiving computer
        -->
        <!--<logger name="*" minlevel="TRACE" writeTo="throttle_log4j" />-->
    </rules>
</nlog>