body{
font-size:70%;
font-family:Verdana,Arial,Helvetica,sans-serif;
}

table{
font-size:100%;
}

p{
margin-top:0.2em;
margin-bottom:0.4em;
}

pre{
background-color:lightcyan;
margin-top:0.4em;
margin-bottom:0.4em;
font-size:100%;
font-family:'monotype.com','Courier New',Courier,mono;
padding:0.2em
}

dt{
margin-top:0.2em;
margin-bottom:0.4em;
font-weight:bold;
font-style:italic;
font-family:Arial;
}

dd{
margin-top:0.2em;
margin-bottom:0.4em;
margin-left:3%;
}

ul{
margin-top:0.2em;
margin-bottom:0.4em;
margin-left:3%;
}

h1.fanuc{
font-size:35pt;
font-weight:bold;
font-family:Zurich UBlkEx BT,Arial Black,sans-serif;
}

div.fanucyellow{
background-color:yellow;
}

.info{
margin-top:1em;
margin-bottom:1em;
margin-left:3%;
margin-right:3%;
border-style:solid;
border-width:thin;
padding:3mm;
}

.caution{
margin-top:1em;
margin-bottom:1em;
margin-left:3%;
margin-right:3%;
font-weight:bold;
border-style:solid;
border-width:thin;
border-color:red;
padding:3mm;
}

.ftitle{
background-color:yellow;
font-size:2.8em;
font-weight:bold;
font-family:Arial;
padding:0.2em
}

.text{
margin-left:3%;
margin-right:3%;
}

.label{
margin-top:1.4em;
margin-left:-3%;
font-weight:bold;
}

.mth{
background-color:lightcyan;
font-size:1.2em;
font-weight:bold;
font-family:Arial;
padding:0.4em
}

.dtarg{
font-weight:bold;
font-style:italic;
font-family:Arial;
}

.ddarg{
margin-left:3%;
}

.dt{
margin-left:0%;
}

.dd{
margin-left:3%;
}

.id{
margin-left:6%;
}

.support{
background-color:mistyrose;
}

.func{
font-size:1.2em;
font-weight:bold;
font-family:Arial;
}

.ois{
display:none;
}

.K737{
}

.K739{
display:none;
}
